<template>
  <div id="nav">
    <NavBar/>
  </div>
  <router-view/>
</template>

<script>
// @ is an alias to /src
import NavBar from '@/components/NavBar.vue'

export default {
  name: 'App',
  components: {
    NavBar
  }
}
</script>

<style>

html {
  background-color: #212529;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #212529;
}

@media screen and (min-width: 1081px) {
  #nav {
    height: 20vh;
    padding: 30px;
  }
}

</style>
