<template>
  <div class="category">
        <h2 class="category_title">{{ this.category_title }}</h2>
        <ul class="places">
            <li v-for="place in this.places" :key="place.id">
                <router-link :to="{path: '/lieu/' + place.id}">
                    <div class="place">
                        <div class="image_div">
                            <img class="image" src="http://placekitten.com/g/250/250" alt="miaouw" />
                        </div>
                        <div class="infos">
                            <div class="place_name_div">
                                <h3 class="place_name">{{ place.name }}</h3>
                            </div>
                            <div class="place_address_div">
                                <p>- {{place.address }} -</p>
                            </div>
                            <div class="place_tel_div">
                                <p>☎ {{ place.numTel }}</p>
                            </div>
                            <div class="place_notation_div">
                                <p>{{place.notation }} ★</p>
                            </div>
                        </div>
                    </div>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
  name: "CategoryComponent",
  data: () => ({
    category_title : "",
    places : [],
  }),
  props : {
    route_id: String,
  },
  mounted() {
    this.loadData();
  },
  updated() {
    this.loadData();
  },
  methods: {
    async loadData() {
      let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue/categorie/" + this.route_id;
      let req = await fetch(url);
      let json = await req.json();
      this.places = [];
      
      this.category_title = json.placesCateg[0].title;

      json.placesCateg[0].places.forEach(place => {
        this.places.push(place);
      });

    }
  }
}
</script>

<style scoped>

.category {
    color:white;
}

.category_title{
    text-align: center;
    border : 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

a{
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.places{
    list-style: none;
}

.places>li{
    border: 3px solid rgba(20, 20, 20, 1);
    border-radius: 10px;
    margin: 5%;
}

.places img {
    border-radius: 7px;
}

/* Small screen */
@media screen and (max-width: 1080px) {

    .place{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transition: background-color 0.4s ease-in-out;
    }

    .place:hover{
        cursor: pointer;
        background-color: rgba(28, 28, 28, 0.5);
    }

    .infos{
        flex-grow: 2;
    }

}

/* Big screen */
@media screen and (min-width: 1081px) {

    .places{
        display: flex;
        flex-wrap: wrap;
    }

    .places>li{
        margin: auto;
        width: 48%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .place{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transition: background-color 0.4s ease-in-out;
    }

    .place:hover{
        cursor: pointer;
        background-color: rgba(28, 28, 28, 0.5);
    }

    .infos{
        flex-grow: 2;
    }

}
</style>