<template>
  <div>
    <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Restaurant / Bar</h2>
    <form>
      <h3>Coordonnées GPS</h3>
      <input v-model="latitude" type="number" id="latitude" placeholder="Latitude au format X+.Y+"><br />
      <input v-model="longitude" type="number" id="longitude" placeholder="Longitude au format X+.Y+"><br />
      <h3>Informations générales</h3>
      <input v-model="name" type="text" id="name" placeholder="Nom du restaurant/bar"><br />
      <input v-model="address" type="text" id="address" placeholder="Adresse du restaurant/bar"><br />
      <input v-model="numTel" type="tel" id="numTel" placeholder="Numéro de téléphone du restaurant/bar"><br />
      <input v-model="openHours" type="text" id="openHours" placeholder="Horaires d'ouverture du restaurant/bar"><br />
      <input v-model="notation" type="number" id="notation" placeholder="Notation de base du restaurant/bar"><br />
      <input v-model="capacity" type="number" id="capacity" placeholder="Capacité du restaurant/bar"><br />
      <button v-if="changeOrCreate == 'create'" type="button" @click="createRestaurantBar()">Créer le restaurant/bar</button>
      <button v-if="changeOrCreate == 'change'" type="button" @click="createRestaurantBar()">Modifier le restaurant/bar</button>
    </form>
  </div>
</template>


<script>
import router from "../../../router";

export default {
  name: "CreateRestaurantBar",
  data: () => ({
    latitude: "",
    longitude: "",
    name: "",
    address: "",
    numTel: "",
    openHours: "",
    notation: "",
    capacity: ""
  }),
  props: {
    changeOrCreate: String,
    placeId: String
  },
  mounted() {
    this.loadData()
  },
  methods : {
    async loadData() {
      if (this.changeOrCreate == 'change') {
        let place = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/restaurantBars/"+this.placeId)).json();
        this.name = place.name;
        this.address = place.address;
        this.numTel = place.numTel;
        this.openHours = place.openingHours;
        this.notation = place.notation;
        this.capacity = place.capacity;
        let cooGPS = await (await fetch(place._links.cooGPS.href)).json();
        this.latitude = cooGPS.latitude;
        this.longitude = cooGPS.longitude;
      }
    },
    async createRestaurantBar() {
      let restaurantBarId = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createRestaurantBar", {
        method: 'POST',
        body: JSON.stringify({
          'changeOrCreate': this.changeOrCreate,
          'placeId': this.placeId,
          'latitude': this.latitude,
          'longitude': this.longitude,
          'name': this.name,
          'address': this.address,
          'numTel': this.numTel,
          'openHours': this.openHours,
          'notation': this.notation,
          'capacity': this.capacity}),
        headers: { 'Content-type': 'application/json',
                   'Authorization':'Bearer '+localStorage.getItem('accessToken') },
        mode: 'cors'
      })).json();
      if (restaurantBarId != -1) {
        router.push({path: `/admin/createMenu/${this.changeOrCreate}/${restaurantBarId}`});
      }
    }
  },
}
</script>

<style scoped>

</style>