<template>
  <div>
    <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> d'arrêt de transports en communs</h2>
    <form>
      <h3>Coordonnées GPS</h3>
      <input v-model="latitude" type="number" id="latitude" placeholder="Latitude au format X+.Y+"><br />
      <input v-model="longitude" type="number" id="longitude" placeholder="Longitude au format X+.Y+"><br />
      <h3>Informations générales</h3>
      <input v-model="name" type="text" id="name" placeholder="Nom de l'arrêt"><br />
      <input v-model="address" type="text" id="address" placeholder="Adresse de l'arrêt"><br />
      <input v-model="numTel" type="tel" id="numTel" placeholder="Numéro de téléphone de l'arrêt"><br />
      <input v-model="openHours" type="text" id="openHours" placeholder="Horaires d'ouverture de l'arrêt"><br />
      <input v-model="notation" type="number" id="notation" placeholder="Notation de base de l'arrêt"><br />
      <input v-model="lines" type="text" id="lines" placeholder="Lignes déservant l'arrêt"><br />
      <button v-if="changeOrCreate == 'create'" type="button" @click="createTransportStop()">Créer l'arrêt</button>
      <button v-if="changeOrCreate == 'change'" type="button" @click="createTransportStop()">Modifier l'arrêt</button>
    </form>
  </div>
</template>


<script>
import router from "../../../router";

export default {
  name: "CreateArretTransportCommun",
  data: () => ({
    latitude: "",
    longitude: "",
    name: "",
    address: "",
    numTel: "",
    openHours: "",
    notation: "",
    lines: ""
  }),
  props: {
    changeOrCreate: String,
    placeId: String
  },
  mounted() {
    this.loadData()
  },
  methods : {
    async loadData() {
      if (this.changeOrCreate == 'change') {
        let place = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/transportStops/"+this.placeId)).json();
        this.name = place.name;
        this.address = place.address;
        this.numTel = place.numTel;
        this.openHours = place.openingHours;
        this.notation = place.notation;
        this.lines = place.lines;
        let cooGPS = await (await fetch(place._links.cooGPS.href)).json();
        this.latitude = cooGPS.latitude;
        this.longitude = cooGPS.longitude;
      }
    },
    async createTransportStop() {
      let isArretCreated = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createTransportStop", {
        method: 'POST',
        body: JSON.stringify({
          'changeOrCreate': this.changeOrCreate,
          'placeId': this.placeId,
          'latitude': this.latitude,
          'longitude': this.longitude,
          'name': this.name,
          'address': this.address,
          'numTel': this.numTel,
          'openHours': this.openHours,
          'notation': this.notation,
          'lines': this.lines}),
        headers: { 'Content-type': 'application/json',
                   'Authorization':'Bearer '+localStorage.getItem('accessToken') },
        mode: 'cors'
      })).json();
      if (isArretCreated) {
        router.push("/admin");
      }
    }
  },
}
</script>

<style scoped>

</style>