<template>
  <div>
    <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Cinéma</h2>
    <form>
      <h3>Coordonnées GPS</h3>
      <input v-model="latitude" type="number" id="latitude" placeholder="Latitude au format X+.Y+"><br />
      <input v-model="longitude" type="number" id="longitude" placeholder="Longitude au format X+.Y+"><br />
      <h3>Informations générales</h3>
      <input v-model="name" type="text" id="name" placeholder="Nom du cinéma"><br />
      <input v-model="address" type="text" id="address" placeholder="Adresse du cinéma"><br />
      <input v-model="numTel" type="tel" id="numTel" placeholder="Numéro de téléphone du cinéma"><br />
      <input v-model="openHours" type="text" id="openHours" placeholder="Horaires d'ouverture du cinéma"><br />
      <input v-model="notation" type="number" id="notation" placeholder="Notation de base du cinéma"><br />
      <input v-model="nbRooms" type="number" id="nbRooms" placeholder="Nombre de salle du cinéma"><br />
      <button v-if="changeOrCreate == 'create'" type="button" @click="createCinema()">Créer le cinéma</button>
      <button v-if="changeOrCreate == 'change'" type="button" @click="createCinema()">Modifier le cinéma</button>
    </form>
  </div>
</template>


<script>
import router from "../../../router";

export default {
  name: "CreateCinemas",
  data: () => ({
    latitude: "",
    longitude: "",
    name: "",
    address: "",
    numTel: "",
    openHours: "",
    notation: "",
    nbRooms: ""
  }),
  props: {
    changeOrCreate: String,
    placeId: String
  },
  mounted() {
    this.loadData()
  },
  methods : {
    async loadData() {
      if (this.changeOrCreate == 'change') {
        let place = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/cinemas/"+this.placeId)).json();
        this.name = place.name;
        this.address = place.address;
        this.numTel = place.numTel;
        this.openHours = place.openingHours;
        this.notation = place.notation;
        this.nbRooms = place.nbRooms;
        let cooGPS = await (await fetch(place._links.cooGPS.href)).json();
        this.latitude = cooGPS.latitude;
        this.longitude = cooGPS.longitude;
      }
    },
    async createCinema() {
      let cinemaId = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createCinema", {
        method: 'POST',
        body: JSON.stringify({
          'changeOrCreate': this.changeOrCreate,
          'placeId': this.placeId,
          'latitude': this.latitude,
          'longitude': this.longitude,
          'name': this.name,
          'address': this.address,
          'numTel': this.numTel,
          'openHours': this.openHours,
          'notation': this.notation,
          'nbRooms': this.nbRooms}),
        headers: { 'Content-type': 'application/json',
                   'Authorization':'Bearer '+localStorage.getItem('accessToken') },
        mode: 'cors'
      })).json();
      if (cinemaId != -1) {
        router.push({path: `/admin/createFilm/${this.changeOrCreate}/${cinemaId}`});
      }
    }
  },
}
</script>

<style scoped>

</style>