<template>
  <div>
    <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Parking</h2><br />
    <form>
      <h3>Coordonnées GPS</h3>
      <input v-model="latitude" type="number" id="latitude" placeholder="Latitude au format X+.Y+"><br />
      <input v-model="longitude" type="number" id="longitude" placeholder="Longitude au format X+.Y+"><br />
      <h3>Informations générales</h3>
      <input v-model="name" type="text" id="name" placeholder="Nom du parking"><br />
      <input v-model="address" type="text" id="address" placeholder="Adresse du parking"><br />
      <input v-model="numTel" type="tel" id="numTel" placeholder="Numéro de téléphone du parking"><br />
      <input v-model="openHours" type="text" id="openHours" placeholder="Horaires d'ouverture du parking"><br />
      <input v-model="notation" type="number" id="notation" placeholder="Notation de base du parking"><br />
      <input v-model="capacity" type="number" id="capacity" placeholder="Nombre de place du parking"><br />
      <h3>Lieu associé</h3>
      <label for="associatedPlace">Choisissez le lieu associé s'il y en a un</label><br />
      <select name="associatedPlace" id="associatedPlace" v-model="associatedPlace">
        <option value="-1" selected>--Aucun lieu associé--</option>
        <option v-for="place in this.places" :value="place.value" :key="place.value">{{place.text}}</option>
      </select><br />
      <button v-if="changeOrCreate == 'create'" type="button" @click="createParking()">Créer le parking</button>
      <button v-if="changeOrCreate == 'change'" type="button" @click="createParking()">Modifier le parking</button>
    </form>
  </div>
</template>

<script>
import router from "../../../router";

export default {
  name: "CreateParking",
  data: () => ({
    places: [],
    latitude: "",
    longitude: "",
    name: "",
    address: "",
    numTel: "",
    openHours: "",
    notation: "",
    capacity: "",
    associatedPlace: "-1"
  }),
  props: {
    changeOrCreate: String,
    placeId: String
  },
  mounted() {
    this.loadData()
  },
  methods : {
    async loadData() {
      let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue/map";
      let req = await fetch(url);
      let json = await req.json();

      // Les categories
      json.places.forEach(place => {
        this.places.push({'value': place.id, 'text': place.name});
      });
      if (this.changeOrCreate == 'change') {
        let place = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/parkings/"+this.placeId)).json();
        this.name = place.name;
        this.address = place.address;
        this.numTel = place.numTel;
        this.openHours = place.openingHours;
        this.notation = place.notation;
        this.capacity = place.capacity;
        let cooGPS = await (await fetch(place._links.cooGPS.href)).json();
        this.latitude = cooGPS.latitude;
        this.longitude = cooGPS.longitude;
        let associatedPlace = -1;
        await fetch(place._links.associatedPlace.href).then(async function (response) {
          if (response.ok) {
            let assocPlace = await response.json();
            associatedPlace = assocPlace._links.self.href.split('/')[assocPlace._links.self.href.split('/').length-1];
          }
        });
        this.associatedPlace = associatedPlace;
      }
    },
    async createParking() {
      let parkingId = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createParking", {
        method: 'POST',
        body: JSON.stringify({
          'changeOrCreate': this.changeOrCreate,
          'placeId': this.placeId,
          'latitude': this.latitude,
          'longitude': this.longitude,
          'name': this.name,
          'address': this.address,
          'numTel': this.numTel,
          'openHours': this.openHours,
          'notation': this.notation,
          'capacity': this.capacity,
          'associatedPlace': this.associatedPlace,}),
        headers: { 'Content-type': 'application/json',
                   'Authorization':'Bearer '+localStorage.getItem('accessToken') },
        mode: 'cors'
      })).json();
      if (parkingId != -1) {
        router.push({path: `/admin/createParkingPrice/${this.changeOrCreate}/${parkingId}`});
      }
    }
  },
}
</script>

<style scoped>

</style>