<template>
  <div id="content">
    <div id="filterMenu">
        <img id="open_filter_menu" src="@/assets/equalizer.png" alt="" height="150px" width="150px" @click="open_filter_menu()" ontouch="open_filter_menu()" />
        <img id="close_filter_menu" src="@/assets/close_menu.png" alt="" height="150px" width="150px" @click="close_filter_menu()" ontouch="close_filter_menu()" />
        <ul id="filter">
            <li v-for="category in this.categories" :key="category.id">
                <label><input class="filter-checkbox" type="checkbox" :id="'category'+category.id" :name="category.id" @click="toggleCategory(category.id)" checked><span> {{category.title}}</span></label>
            </li>
        </ul>
    </div>
    <div id="map" class="map"></div>
        <div style="display: none;">
            <div v-for="place in this.places" :key="place.id">
                <!-- Marker -->
                <div class="marker" :id="'marker'+ place.id" :ref="'marker'+ place.id" :title="place.name"></div>
                <!-- Popup -->
                <div class="popup" :id="'popup'+ place.id"></div>
            </div>
            <div id="marker-my-pos" title="Vous"></div>
        </div>
  </div>
</template>

<script>
import ol from "@/js/ol.js";
import $ from "jquery";
import "@/js/bootstrap.bundle.min.js";
import "@/css/bootstrap.min.css";
import router from '../../router';

export default {
  name: "MapComponent",
  data: () => ({
    places: [],
    categories: [],
    markers: [],
    map: undefined,
  }),
  mounted() {
    this.loadData();
  },
  updated() {
    this.load();
  },
  methods: {
    async loadData() {
      let url = window.location.href.replace(/:8081[^]*/, ":8080") + "/vue/map";
      let req = await fetch(url);
      let json = await req.json();

      let url_c = window.location.href.replace(/:8081[^]*/, ":8080") + "/vue";
      let req_c = await fetch(url_c);
      let json_c = await req_c.json();

      this.places = json.places;
      // Les categories
      json_c.allCategories.forEach((categorie) => {
        this.categories.push(categorie);
      });
    },

    geolocationSuccess(position) {
      var Overlay = ol.Overlay;
      var fromLonLat = ol.proj.fromLonLat;
      let myLocationElem = document.getElementById("marker-my-pos");
      let myLocation = new Overlay({
        position: fromLonLat([
          position.coords.longitude,
          position.coords.latitude,
        ]),
        positioning: "center-center",
        element: myLocationElem,
        stopEvent: false,
      });
      this.map.addOverlay(myLocation);
    },
    geolocationError() {
      return;
    },
    load() {
      var Map = ol.Map;
      var OSM = ol.source.OSM;
      var Overlay = ol.Overlay;
      var View = ol.View;
      var toStringHDMS = ol.coordinate.toStringHDMS;
      var TileLayer = ol.layer.Tile;
      var fromLonLat = ol.proj.fromLonLat;
      var toLonLat = ol.proj.toLonLat;
      var TileJSON = ol.source.TileJSON;

      var mapWindowWidth = window.innerWidth;

      const saintEtienneCoo = {
        x: 488392,
        y: 5691067,
      };

      const layer = new TileLayer({
        source: new OSM(),
      });

      this.map = new Map({
        layers: [layer],
        target: "map",
        view: new View({
          center: [saintEtienneCoo.x, saintEtienneCoo.y],
          zoom: 12,
        }),
      });

      var pos = [];
      this.places.forEach((l) => {
        var popup = new Overlay({
          element: document.getElementById("popup" + l.id),
        });
        pos.push({
          id: l.id,
          position: fromLonLat([l.cooGPS.longitude, l.cooGPS.latitude]),
          popup: popup,
          name: l.name,
          categoryID: l.category.id,
          address: l.address,
          numTel: l.numTel,
          notation: l.notation,
        });
        this.map.addOverlay(popup);
      });

      pos.forEach((p) => {
        var markerElem = document.getElementById("marker" + p.id);

        var marker = new Overlay({
          position: p.position,
          positioning: "center-center",
          element: markerElem,
          stopEvent: false,
        });
        markerElem.onclick = function (evt) {
          const element = p.popup.getElement();
          const coordinate = p.position;

          $(".popup").popover("dispose");
          p.popup.setPosition(coordinate);
          $(element).popover({
            container: element,
            placement: "top",
            animation: false,
            trigger: "focus",
            html: true,
            title: p.name + `<a href="#" class="close">&times;</a>`,
            content:
              `
                    <p>
                      <span class="underline">Adresse :</span> ` +
              p.address +
              `<br />
                      <span class="underline">Tel :</span> ` +
              p.numTel +
              `<br />
                      <span class="underline">Notation :</span> ` +
              p.notation +
              `
                    </p>
                    <p class="more-info">
                      <span id="`+p.id+`" class="more-info-btn btn btn-info">
                        Plus d'informations
                      </span>
                    </p>`,
          });
          $(document).on("click", ".more-info-btn", function () {
            router.push("/lieu/"+$(this)[0].id);
          });
          $(document).on("click", ".close", function () {
            $(this).parents(".popover").popover("dispose");
            return false;
          });
          $(element).popover("show");
        };
        this.markers.push({
          overlay: marker,
          categoryID: p.categoryID,
          popup: p.popup.getElement(),
        });
        this.map.addOverlay(marker);
      });

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          this.geolocationSuccess,
          this.geolocationError
        );
      }

      window.onresize = () => {
        if (mapWindowWidth != window.innerWidth) {
          close_menu_phone();
          close_filter_menu();
          mapWindowWidth = window.innerWidth;
        }
      };
    },
    toggleCategory(categoryID) {
      var checkbox = document.getElementById("category" + categoryID);
      if (checkbox.checked) {
        this.markers.forEach((m) => {
          if (m.categoryID == categoryID) {
            this.map.addOverlay(m.overlay);
          }
        });
      } else {
        this.markers.forEach((m) => {
          if (m.categoryID == categoryID) {
            $(m.popup).popover("dispose");
            this.map.removeOverlay(m.overlay);
          }
        });
      }
    },
    open_filter_menu() {
      document.getElementById("filterMenu").style.backgroundColor =
        "rgba(28,28,28,0.5)";
      document.getElementById("filterMenu").style.width = "100%";
      document.getElementById("filterMenu").style.top = "0";

      document.getElementById("open_filter_menu").style.display = "none";
      document.getElementById("open_menu_sandwich").style.display = "none";

      document.getElementById("filter").style.display = "flex";

      document.getElementById("close_filter_menu").style.display = "initial";
    },

    close_filter_menu() {
      document.getElementById("filterMenu").style.backgroundColor =
        "rgba(0,0,0,0)";
      if (window.matchMedia("(max-width: 1080px)").matches) {
        document.getElementById("filterMenu").style.width = "0";
        document.getElementById("filterMenu").style.top = "25vw";
        document.getElementById("close_filter_menu").style.display = "none";
        document.getElementById("open_filter_menu").style.display = "initial";
        document.getElementById("open_menu_sandwich").style.display = "initial";

        document.getElementById("filter").style.display = "none";
      } else {
        document.getElementById("filterMenu").style.width = "30%";
        document.getElementById("close_filter_menu").style.display = "none";
        document.getElementById("open_filter_menu").style.display = "none";

        document.getElementById("filter").style.display = "flex";
      }
    },
  },
  mounted() {
    this.loadData();

    //this.load();
  },
};
</script>

<style scoped>
label span {
  width: 100%;
}

@media screen and (min-width: 1081px) {
  #content {
    display: flex;
    height: 80vh;
  }

  #open_filter_menu {
    display: none;
  }

  #close_filter_menu {
    display: none;
  }

  #filterMenu {
    width: 30%;
  }

  #filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: x-large;
    margin-top: 10px;
  }

  #filter label {
    display: flex;
    align-items: center;
  }

  #filter label:hover {
    cursor: pointer;
  }

  #filter span {
    background-color: cadetblue;
    color: black;
    border: black 3px solid;
    border-radius: 10px;
    padding: 5px;
  }

  .filter-checkbox {
    min-height: 50px;
    min-width: 50px;
    margin-right: 50px;
  }

  .map {
    width: 70%;
  }
}

@media screen and (max-width: 1080px) {
  #content {
    display: flex;
    height: 100%;
  }

  #filterMenu {
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: 25vw;
    z-index: 1;
    width: 0;
  }

  #open_filter_menu {
    margin-left: 75vw;
    transition-duration: 0.4s;
    width: 25vw;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.5);
  }

  #open_filter_menu:hover {
    cursor: pointer;
  }

  #close_filter_menu {
    display: none;
    transition-duration: 0.4s;
    width: 25vw;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
  }

  #close_filter_menu:hover {
    cursor: pointer;
  }

  #filter {
    margin-left: -10px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: x-large;
  }

  #filter span {
    background-color: cadetblue;
    color: black;
    border: black 3px solid;
    border-radius: 10px;
    padding: 5px;
  }

  #filter label {
    display: flex;
    align-items: center;
  }

  #filter label:hover {
    cursor: pointer;
  }

  .filter-checkbox {
    min-height: 10vw;
    min-width: 10vw;
    margin-right: 20px;
  }

  .map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  }
}

.marker {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: red;
  opacity: 0.75;
}

.marker:hover {
  cursor: pointer;
}

#marker-my-pos {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: green;
  opacity: 0.75;
}

#marker-my-pos:hover {
  cursor: pointer;
}

.popover {
  width: max-content;
  max-width: 90vw;
}

.popover-body {
  font-size: larger;
}

.popover-header {
  color: black;
  font-size: x-large;
}

p.more-info {
  text-align: center;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}
</style>
