.category{
    padding-bottom: 3%;
}

.category_title{
    text-align: center;
    border : 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

a{
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.places{
    list-style: none;
}

.places>li{
    border: 1px solid rgba(20, 20, 20, 1);
    margin: 5%;
}

/* Small screen */
@media screen and (max-width: 1080px) {

    .place{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transition: background-color 0.4s ease-in-out;
    }

    .place:hover{
        cursor: pointer;
        background-color: rgba(28, 28, 28, 0.5);
    }

    .infos{
        flex-grow: 2;
    }

}

/* Big screen */
@media screen and (min-width: 1081px) {

    .places{
        display: flex;
        flex-wrap: wrap;
    }

    .places>li{
        margin: auto;
        width: 50%;
    }

    .place{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        transition: background-color 0.4s ease-in-out;
    }

    .place:hover{
        cursor: pointer;
        background-color: rgba(28, 28, 28, 0.5);
    }

    .infos{
        flex-grow: 2;
    }

}