.titlePageCategories {
    border: 2px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 901px){
    .titlePageCategories{
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.boxBackground{
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
}

.topCategoryTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

@media screen and (min-width: 901px) {
    .categoryBox{
        height: auto;
        width: 40vw;
        margin-bottom: 10px;
    }
}

.categoryBox {
    background-color: rgba(0, 0, 0, 0.25);
}

#boxTopCategories{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#boxTopCategories > div{
    border: 2px solid black;
}


#boxTopCategories > div > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.boxEachPlace{
    display: flex;
}

.boxEachPlace > li{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.topCategoryTitle{
    text-align: center;
}

.infosPlace{
    padding-top: 5px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    img{
        height: auto;
        width: 100%;
    }
}



/*** Carousel ***/

.slideContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.slides img{
    padding: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: red;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*****************/