@media screen and (min-width: 1081px) {
  #content {
    display: flex;
    height: 80%;
  }

  #open_filter_menu {
    display: none;
  }

  #close_filter_menu {
    display: none;
  }

  #filterMenu {
    width: 30%;
  }
  
  #filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: x-large;
    margin-top: 10px;
  }
  
  #filter label {
    display: flex;
    align-items: center;
  }

  #filter label:hover {
    cursor: pointer;
  }

  #filter span {
    background-color: cadetblue;
    color: black;
    border: black 3px solid;
    border-radius: 10px;
    padding: 5px;
  }
  
  .filter-checkbox {
    min-height: 50px;
    min-width: 50px;
    margin-right: 50px;
  }
  
  .map {
    width: 70%;
  }

}

@media screen and (max-width: 1080px) {
  #content {
    display: flex;
    height: 100%;
  }
  
  #filterMenu {
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: 25vw;
    z-index: 1;
    width: 0;
  }

  #open_filter_menu {
    margin-left: 75vw;
    transition-duration: 0.4s;
    width: 25vw;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.5);
  }

  #open_filter_menu:hover {
    cursor: pointer;
  }

  #close_filter_menu {
    display: none;
    transition-duration: 0.4s;
    width: 25vw;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
  }

  #close_filter_menu:hover {
    cursor: pointer;
  }

  #filter {
    margin-left: -10px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: x-large;
  }
  
  #filter span {
    background-color: cadetblue;
    color: black;
    border: black 3px solid;
    border-radius: 10px;
    padding: 5px;
  }

  #filter label {
    display: flex;
    align-items: center;
  }

  #filter label:hover {
    cursor: pointer;
  }
  
  .filter-checkbox {
    min-height: 10vw;
    min-width: 10vw;
    margin-right: 20px;
  }
  
  .map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  }

}


.marker {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: red;
  opacity: 0.75;
}

.marker:hover {
  cursor: pointer;
}

#marker-my-pos {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: green;
  opacity: 0.75;
}

#marker-my-pos:hover {
  cursor: pointer;
}

.popover {
  width: max-content;
  max-width: 90vw;
}

.popover-body {
  font-size: larger;
}

.popover-header {
  color: black;
  font-size: x-large;
}

p.more-info {
  text-align: center;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}
