html, body {
  height: 100%;
  width: 100%;
  background-color: #282828;
  color: white;
}

@media screen and (min-width: 1081px) {
  #navBar {
    height: 20%;
    border-bottom: 3px black solid;
  }

  #navBar ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 10px;
    height: 100%;
  }

  #open_menu_sandwich {
    display: none;
  }

  #close_menu_sandwich {
    display: none;
  }

  #navBar li {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  #navBar a {
    display: flex;
    margin: 5px;
    padding: 10px;
    font-size: x-large;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}

@media screen and (max-width: 1080px) {
  #navBar {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 0;
    z-index: 1;
  }

  #navBar ul {
    display: flex;
    flex-direction: column;
  }

  #open_menu_sandwich {
    margin-left: 75vw;
    transition-duration: 0.4s;
    width: 25vw;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 0.5);
  }

  #open_menu_sandwich:hover {
    cursor: pointer;
  }

  #close_menu_sandwich {
    display: none;
    transition-duration: 0.4s;
    width: 25vw;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
  }

  #close_menu_sandwich:hover {
    cursor: pointer;
  }

  #navBar li {
    display: none;
    margin: 5px;
    padding: 10px;
  }

  #navBar a {
    display: none;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    align-items: stretch;
    color: black;
    width: 100%;
  }
}
