<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégories</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/navbar.css">
    <script src="/navbar.js"></script>

    <link rel="stylesheet" href="/category.css">
</head>
<body>
    <div id="navBar">
        <img id="open_menu_sandwich" src="/assets/Hamburger_icon.png" alt="" height="150px" width="150px" onclick="open_menu_phone()" ontouch="open_menu_phone()" />
		<img id="close_menu_sandwich" src="/assets/close_menu.png" alt="" height="150px" width="150px" onclick="close_menu_phone()" ontouch="close_menu_phone()" />
        <ul>
            <li class="btn btn-success navbarLi"><a href="/" class="navbarA">Homepage</a></li>
            <li class="btn btn-info navbarLi" th:each="oneCategory : ${allCategories}">
                <a th:href="@{|/categorie/${oneCategory.id}|}" class="navbarA"> [[ ${oneCategory.title} ]]</a>
            </li>
            <li class="btn btn-warning navbarLi"><a href="/map" class="navbarA">Carte de Saint-Étienne</a></li>
        </ul>
    </div>
    <div class="category">
        <h2 class="category_title">[[ ${placesCateg.title}]]</h2>
        <ul class="places">
            <li th:each="p: ${placesCateg.places}">
                <a th:href="@{/lieu/{id}(id=${p.id})}">
                    <div class="place">
                        <div class="image_div">
                            <img class="image" src="http://placekitten.com/g/250/250" alt="miaouw" />
                        </div>
                        <div class="infos">
                            <div class="place_name_div">
                                <h3 class="place_name">[[ ${p.name} ]]</h3>
                            </div>
                            <div class="place_address_div">
                                <p>- [[ ${p.address} ]] -</p>
                            </div>
                            <div class="place_tel_div">
                                <p>☎ [[ ${p.numTel} ]]</p>
                            </div>
                            <div class="place_notation_div">
                                <p>[[ ${p.notation} ]] ★</p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>