<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/librairies/fontawesome/css/all.css">
    <script src="/navbar.js"></script>
</head>
<body>
    <div id="navBar">
        <img id="open_menu_sandwich" src="/assets/Hamburger_icon.png" alt="" height="150px" width="150px" onclick="open_menu_phone()" ontouch="open_menu_phone()" />
		<img id="close_menu_sandwich" src="/assets/close_menu.png" alt="" height="150px" width="150px" onclick="close_menu_phone()" ontouch="close_menu_phone()" />
        <ul>
            <li class="btn btn-success navbarLi"><a href="/" class="navbarA">Homepage</a></li>
            <li class="btn btn-info navbarLi" th:each="oneCategory : ${allCategories}">
                <a th:href="@{|/categorie/${oneCategory.id}|}" class="navbarA"> [[ ${oneCategory.title} ]]</a>
            </li>
            <li class="btn btn-warning navbarLi"><a href="/map" class="navbarA">Carte de Saint-Étienne</a></li>
        </ul>
    </div>
    <div>
        <h2 class="titlePageCategories">Bandeau Météo</h2>
    </div>
    <hr />
    <div class="boxBackground">
        <h2 class="titlePageCategories">Caroussel découverte</h2>
        <div class="slideContainer">
            <div class="slides fade" th:each="place : ${discover}">
                <img src="http://placekitten.com/g/250/250" alt="maow" />
                <p class="infosPlace">[[ ${place.name} ]] <br> <i class="fas fa-star"></i>[[ ${place.notation} ]] <br> <a th:href="|/lieu/${place.id}|">Plus d'informations</a></p>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
    <hr />
    <div>
        <h2 class="titlePageCategories">
            Le Top des Catégories
        </h2>
        <div id="boxTopCategories">
            <div class="categoryBox" th:each="category : ${categories}">
                <div class="topCategoryTitle">
                    <h3>[[ ${category.title} ]]</h3>
                </div>
                <ul>
                    <div class="boxEachPlace">
                        <li th:each="place : ${category.places}">
                            <img src="http://placekitten.com/g/250/250" alt="maow" />
                            <p class="infosPlace">[[ ${place.name} ]] <br> <i class="fas fa-star"></i>[[ ${place.notation} ]] <br> <a th:href="|/lieu/${place.id}|">Plus d'informations</a></p>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script src="/carousel.js"></script>
</body>
</html>