<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/ol.js"></script>
    <link rel="stylesheet" href="/css/ol.css">
    <link rel="stylesheet" href="/map.css">
    <link rel="stylesheet" href="/navbar.css">
    <script src="/navbar.js"></script>
</head>
<body>
    <div id="navBar">
        <img id="open_menu_sandwich" src="/assets/Hamburger_icon.png" alt="" height="150px" width="150px" onclick="open_menu_phone()" ontouch="open_menu_phone()" />
		<img id="close_menu_sandwich" src="/assets/close_menu.png" alt="" height="150px" width="150px" onclick="close_menu_phone()" ontouch="close_menu_phone()" />
        <ul>
            <li class="btn btn-success navbarLi"><a href="/" class="navbarA">Homepage</a></li>
            <li class="btn btn-info navbarLi" th:each="oneCategory : ${allCategories}">
                <a th:href="@{|/categorie/${oneCategory.id}|}" class="navbarA"> [[ ${oneCategory.title} ]]</a>
            </li>
            <li class="btn btn-warning navbarLi"><a href="/map" class="navbarA">Carte de Saint-Étienne</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="filterMenu">
            <img id="open_filter_menu" src="assets/equalizer.png" alt="" height="150px" width="150px" onclick="open_filter_menu()" ontouch="open_filter_menu()" />
            <img id="close_filter_menu" src="assets/close_menu.png" alt="" height="150px" width="150px" onclick="close_filter_menu()" ontouch="close_filter_menu()" />
            <ul id="filter">
                <li th:each="category : ${categories}">
                    <label><input class="filter-checkbox" type="checkbox" th:id="'category'+${category.id}" th:name="${category.id}" th:onclick="|toggleCategory('${category.id}')|" checked><span>[[ ${category.title} ]]</span></label>
                </li>
            </ul>
        </div>
        <div id="map" class="map"></div>
        <div style="display: none;">
            <div th:each="place : ${places}">
                <!-- Marker -->
                <div class="marker" th:id="'marker'+${place.id}" th:title="${place.name}"></div>
                <!-- Popup -->
                <div class="popup" th:id="'popup'+${place.id}"></div>
            </div>
            <div id="marker-my-pos" title="Vous"></div>
        </div>
    </div>

    <!--Differed script loading -->
    <script th:inline="javascript">
        var places = [];
    </script>
    <script th:inline="javascript" th:each="place : ${places}">
        places.push({
            id:/*[[${place.id}]]*/ '',
            latitude:/*[[${place.cooGPS.latitude}]]*/ '',
            longitude:/*[[${place.cooGPS.longitude}]]*/ '',
            name:/*[[${place.name}]]*/ '',
            categoryID:/*[[${place.category.id}]]*/ '',
            address:/*[[${place.address}]]*/ '',
            numTel:/*[[${place.numTel}]]*/ '',
            notation:/*[[${place.notation}]]*/ ''
        });
    </script>
    <script src="map.js"></script>
</body>
</html>