<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieu</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/navbar.css">
    <script src="/navbar.js"></script>
    <link rel="stylesheet" href="/css/place.css">
    <link rel="stylesheet" href="/librairies/fontawesome/css/all.css">

</head>
<body>
    <div id="navBar">
        <img id="open_menu_sandwich" src="/assets/Hamburger_icon.png" alt="" height="150px" width="150px" onclick="open_menu_phone()" ontouch="open_menu_phone()" />
		<img id="close_menu_sandwich" src="/assets/close_menu.png" alt="" height="150px" width="150px" onclick="close_menu_phone()" ontouch="close_menu_phone()" />
        <ul>
            <li class="btn btn-success navbarLi"><a href="/" class="navbarA">Homepage</a></li>
            <li class="btn btn-info navbarLi" th:each="oneCategory : ${allCategories}">
                <a th:href="@{|/categorie/${oneCategory.id}|}" class="navbarA"> [[ ${oneCategory.title} ]]</a>
            </li>
            <li class="btn btn-warning navbarLi"><a href="/map" class="navbarA">Carte de Saint-Étienne</a></li>
        </ul>
    </div>
    <div id="card">
        <div id="img">
            <img src="http://placekitten.com/g/250/250" alt="maow" />
        </div>
            <div id="infos">
                <h2> [[ ${place.name} ]]</h2>
                <img id="mobile-img" src="http://placekitten.com/g/250/250" alt="maow" />
                <div class="general">
                    <h3 class="title"> Informations générales</h3>
                    <ul>
                        <li><span class="info-name"><i class="fas fa-map-marker-alt"></i> Adresse</span> : [[ ${place.address} ]]</li>
                        <li><span class="info-name"><i class="fas fa-phone"></i> Numéro de téléphone</span> : [[ ${place.numTel} ]]</li>
                        <li><span class="info-name"><i class="far fa-clock"></i> Horaires</span> : [[ ${place.openingHours} ]]</li>
                        <li><span class="info-name"><i class="fas fa-star"></i> Note</span> : [[ ${place.notation} ]]</li>
                    </ul>
                </div>
                <div th:if="${place.category.title == 'Restaurants / Bars'}">
                    <h3 class="title">Informations Restaurants/bar</h3>
                    <ul>
                        <li><span class="info-name">Capacité</span> : [[ ${place.capacity} ]]</li>
                        <li><span class="info-name">Menus :</span></li>
                        <ul th:each="m: ${menus}"> Menu [[${m.menu.price}]]€ :
                           <ul>
                               <li th:each ="p: ${m.products}">
                                [[ ${p.name + ' ' + p.price} + '€' ]]
                               </li>
                           </ul>
                        </ul>
                     </ul>
                </div>
                <div th:if="${place.category.title == 'Cinémas'}">
                    <h3 class="title">Informations parking</h3>
                    <ul>
                        <li><span class="info-name">Nombre de salle :</span> [[ ${place.nbRooms} ]]</li>
                        <li><span class="info-name">Liste films :</span></li>
                         <ul  th:each="f: ${films}">
                             <li id="film">[[ ${f.title} ]]</li>
                             <ul>
                                 <li>Type : [[${f.type} ]]</li>
                                 <li>price : [[${f.price} ]]</li>
                                 <li>Horaire : [[${f.schedule} ]]</li>
                                 <li>Durée : [[${f.time} ]]</li>
                                 <li>Numéro de salle : [[${f.numRoom} ]]</li>
                             </ul>
                         </ul>
                    </ul>
                </div>
                <div th:if="${place.category.title == 'Parkings'}">
                    <h3 class="title">Informations parking</h3>
                    <ul>
                        <li><span class="info-name">Capacité</span> : [[ ${place.capacity} ]] places</li>
                        <li ><span class="info-name">Tarif :</span>
                            <ul>
                                <li id="price" th:each="p: ${price}" ><span>Durée : [[ ${p.time} ]]h</span> <span>[[ ${p.price} ]] €</span></li>
                            </ul>
                        </li>
                        <li th:if="${place.associatedPlace}"><span class="info-name">Lieu associé</span>
                            <ul>
                                <li>Nom : [[ ${place.associatedPlace.name} ]]</li>
                                <li><i class="fas fa-map-marker-alt"></i> Adresse : [[ ${place.associatedPlace.address} ]]</li>
                                <li><i class="fas fa-phone"></i> Numéro de téléphone : [[ ${place.associatedPlace.numTel} ]]</li>
                                <li><i class="far fa-clock"></i> Horaires : [[ ${place.associatedPlace.openingHours} ]]</li>
                                <li><i class="fas fa-star"></i> Note : [[ ${place.associatedPlace.notation} ]]</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="reviews"> 
                    <h3 class="title">Avis :</h3>
                    <div id="review" th:each="r: ${review}">
                        <span class="info-name">[[ ${r.pseudo} ]] ([[ ${r.grade} ]] <i class="fas fa-star"></i>) : </span>
                        <span>[[ ${r.comment} ]]</span>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${place.category.title == 'Magasins'}">
            <ul>
                <li>[[ ${place.type} ]]</li>
            </ul>             
        </div>
</body>
</html>