<template>
<div class="boxBackground">
      <div class="slideContainer">
          <div class="slides fade" v-for="place in places" :key="place.id">
              <img src="http://placekitten.com/g/250/250" alt="maow" />
              <p class="infosPlace">{{ place.name }}
                <br> 
                {{ place.notation }}★
                <br> 
                <router-link class="btn btn-info" :to="{path: '/lieu/' + place.id}">Plus d'informations</router-link>
              </p>
          </div>
          <a class="prev" @click="plusSlides(-1)">&#10094;</a>
          <a class="next" @click="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
          <span class="dot" @click="currentSlide(1)"></span>
          <span class="dot" @click="currentSlide(2)"></span>
          <span class="dot" @click="currentSlide(3)"></span>
          <span class="dot" @click="currentSlide(4)"></span>
          <span class="dot" @click="currentSlide(5)"></span>
      </div>
  </div>
</template>

<script>
export default {
name: "CarouselComponent",
data: () => ({
  slideIndex: 1,
  places : []
}),
mounted() {
  this.loadData();
},
updated() {
  this.showSlides(this.slideIndex);
},
methods: {
  async loadData() {
    let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue";
    let req = await fetch(url);
    let json = await req.json();
    json = json.discover;

    json.forEach(element => {
      this.places.push(element);
    });
  },
  showSlides(n) {
    let i;
    const slides = document.getElementsByClassName("slides");
    const dots = document.getElementsByClassName("dot");
    if (n > slides.length || n == 1) {
        this.slideIndex = 1;
    }
    if (n < 1 || n == 5) {
        this.slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[this.slideIndex-1].style.display = "flex";
    slides[this.slideIndex-1].style.justifyContent = "center";
    slides[this.slideIndex-1].style.alignItems = "center";
    slides[this.slideIndex-1].style.flexWrap = "wrap";
    dots[this.slideIndex-1].className += " active";
  },
  currentSlide(n) {
    this.showSlides(this.slideIndex = n);
  },
  plusSlides(n) {
    this.showSlides(this.slideIndex += n);
  }
}
}
</script>

<style scoped>
.titlePageCategories {
  border: 2px solid black;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 901px){
  .titlePageCategories{
      width: 40vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
  }
}

.boxBackground{
  max-width: 1000px;
  margin: auto;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
}

.infosPlace{
  padding-top: 5px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  img{
      height: auto;
      width: 100%;
  }
}

/*** Carousel ***/

.slideContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.slides img{
  padding: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: red;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
</style>