<template>
<div>
      <div id="boxTopCategories">
          <div class="categoryBox" v-for="category in this.places" :key="category.places[0].category.id">
              <div class="topCategoryTitle">
                  <h3>{{ category.title }}</h3>
              </div>
              <ul>
                  <div class="boxEachPlace">  
                      <li v-for="place in category.places" :key="place.id">
                        <img src="http://placekitten.com/g/250/250" alt="maow" />                          
                        <p class="infosPlace"> {{ place.name }}
                          <br>
                          {{ place.notation }}★
                          <br>
                          <router-link class="btn btn-info" :to="{path: '/lieu/' + place.id}">Plus d'informations</router-link>
                        </p>
                      </li>
                  </div>
              </ul>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "TopCategoriesComponent",
  data: () => ({
    categories: [],
    places : [],
  }),
  mounted() {
    this.loadData();
  },
  methods : {
    async loadData() {
      let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue";
      let req = await fetch(url);
      let json = await req.json();

      // Les lieux
      json.categories.forEach(places => {
        this.places.push(places);
      });

    },
  }
}
</script>

<style scoped>
.titlePageCategories {
    border: 2px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 901px){
    .titlePageCategories{
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}


.topCategoryTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

@media screen and (min-width: 901px) {
    .categoryBox{
        height: auto;
        width: 40vw;
        margin-bottom: 10px;
    }
}

.categoryBox {
    background-color: rgba(0, 0, 0, 0.25);
}

#boxTopCategories{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#boxTopCategories > div{
    border: 2px solid black;
}


#boxTopCategories > div > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.boxEachPlace{
    display: flex;
}

.boxEachPlace > li{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.topCategoryTitle{
    text-align: center;
}

.infosPlace{
    padding-top: 5px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    img{
        height: auto;
        width: 100%;
    }
}

</style>