#card {
    margin: 20px;
    margin-top: 40px;
    display: flex;
    border: 2px solid black;
}

#img {
    border-right: 2px solid black;
    width: 40%;
    padding: 10px;
    display: flex;
    flex: none;
}

#infos {
    width: 100%;
}

#infos h2{
    text-align: center;
    font-size: xxx-large;
    padding: 30px;
    border-bottom: 1px solid black;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.info-name {
    font-weight: bold;
    font-size: large;
}

.title {
    margin-left: 45px;
    margin-right:45px;
    border-bottom: 1px solid black;
    font-size: xx-large;
    padding: 15px;
    width: 100%;
}

.general {
    border-bottom: 1px solid black;
}

#price {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

#film {
    text-decoration: underline;
}

#reviews {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#review {
 margin: 20px;   
 width: 100%;
}

#mobile-img {
    display: none;
}

@media screen and (max-width: 1400px){

    #price{
        width: 30%;
    }

}

@media screen and (max-width: 1080px){
    #mobile-img {
        display: block;
    }

    #img {
        display: none;
    }

    #price {
        width: 40%;
    }
}

@media screen and (max-width: 500px){

    #price{
        width: 80%;
    }

}
