<template>
    <div v-if="this.start">
        <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Produit de menu</h2><br />
        <form>
            <p>Créez autant de produits de menu que nécessaire</p>
            <input v-model="name" id="name" type="text" placeholder="Nom du produit"><br />
            <input v-model="type" id="type" type="text" placeholder="Type du produit (Plat, Dessert, etc ...)"><br />
            <input v-model="price" id="price" type="number" placeholder="Prix du produit"><br />
            <button type="button" @click="createProduit()">Créer le produit</button>
            <div v-if="changeOrCreate == 'change'">
                <p>Choisissez le produit à modifier et modifiez le. Pour valider vos modifications cliquez sur le bouton "Modifier le produit"</p>
                <label for="productChoice">Choisissez le produit à modifier</label><br />
                <select name="productChoice" id="productChoice" v-model="productChoice">
                    <option value="-1" selected>--Choisissez un produit à modifier--</option>
                    <option v-for="(treatedProduct,treatedProductIndex) in this.treatedProducts" 
                        :value="treatedProductIndex" 
                        :key="treatedProduct.value">
                    {{treatedProduct.text}}</option>
                </select><br />
                <div v-if="productChoice != -1">
                    <input v-model="products[productChoice].name" id="name" type="text" placeholder="Nom du produit"><br />
                    <input v-model="products[productChoice].type" id="type" type="text" placeholder="Type du produit (Plat, Dessert, etc ...)"><br />
                    <input v-model="products[productChoice].price" id="price" type="number" placeholder="Prix du produit"><br />
                    <button type="button" @click="modifyProduit(productChoice)">Modifier le produit</button><br />
                    <button type="button" @click="deleteProduit(productChoice)">Supprimer le produit</button>
                </div>
            </div>
        </form>
        <router-link class="btn btn-info" :to="{ path: `/admin/createMenu/${this.changeOrCreateMenu}/${restaurantBarId}` }">J'ai fini, retour à la création des menus</router-link>
    </div>
</template>


<script>
export default {
  name: "AdminCreateProduitComponent",
  data: () => ({
      name: "",
      type: "",
      price: "",
      products: [],
      treatedProducts: [],
      productChoice: -1,
      start: false
  }),
  props: {
      restaurantBarId: String,
      route_id: String,
      changeOrCreate: String,
      changeOrCreateMenu: String,
  },
  mounted() {
      this.loadData()
  },
  methods : {
    async loadData() {
        if (this.changeOrCreate == 'change') {
            let allProducts = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/products")).json())._embedded.products;
            let products = [];
            let treatedProducts = [];
            let route_id = this.route_id;
            for (let product of allProducts) {
                let relatedMenu = await (await fetch(product._links.menu.href)).json();
                let relatedMenuId = relatedMenu._links.self.href.split('/')[relatedMenu._links.self.href.split('/').length-1];
                if (relatedMenuId == route_id) {
                    products.push(product);
                    treatedProducts.push({
                        'value': product._links.self.href.split('/')[product._links.self.href.split('/').length-1],
                        'text': product.name+" "+product.price+"€"
                    });
                }
            };
            this.products = products;
            this.treatedProducts = treatedProducts;
        }
        this.start = true;
    },
    async createProduit() {
        let isProduitCreated = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createProduit", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'create',
                'productId': -1,
                'menuId': this.route_id,
                'name': this.name,
                'type': this.type,
                'price': this.price,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        })).json();
        if (isProduitCreated) {
            this.name = "";
            this.type = "";
            this.price = "";
            this.start = false;
            this.loadData();
        }
    },
    async modifyProduit(productChoice) {
        let isProduitModified = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createProduit", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'change',
                'productId': this.treatedProducts[productChoice].value,
                'menuId': this.route_id,
                'name': this.products[productChoice].name,
                'type': this.products[productChoice].type,
                'price': this.products[productChoice].price,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        })).json();
        console.log(isProduitModified);
        if (isProduitModified) {
            this.productChoice = -1;
            this.start = false;
            this.loadData();
        }
    },
    async deleteProduit(productChoice) {
        let isProduitDeleted = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createProduit", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'delete',
                'productId': this.treatedProducts[productChoice].value,
                'menuId': this.route_id,
                'name': this.products[productChoice].name,
                'type': this.products[productChoice].type,
                'price': this.products[productChoice].price,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        })).json();
        console.log(isProduitDeleted);
        if (isProduitDeleted) {
            this.productChoice = -1;
            this.start = false;
            this.loadData();
        }
    }
  },
}
</script>

<style scoped>

</style>