<template>
    <div v-if="this.start">
        <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Menu de restaurant/bar</h2><br />
        <form>
            <p>Créez autant de menus de restaurant/bar que nécessaire</p>
            <input v-model="price" id="price" type="number" placeholder="Prix du menu"><br />
            <button type="button" @click="createMenu()">Créer le menu et ouvrir la page de création des produits le composant</button>
            <div v-if="changeOrCreate == 'change'">
                <p>Choisissez le menu à modifier et modifiez le. Pour valider vos modifications cliquez sur le bouton "Modifier le menu et ouvrir la page de création/modification des produits le composant"</p>
                <label for="menuChoice">Choisissez le menu à modifier</label><br />
                <select name="menuChoice" id="menuChoice" v-model="menuChoice">
                    <option value="-1" selected>--Choisissez un menu à modifier--</option>
                    <option v-for="(treatedMenu,treatedMenuIndex) in this.treatedMenus" 
                        :value="treatedMenuIndex" 
                        :key="treatedMenu.value">
                    {{treatedMenu.text}}</option>
                </select><br />
                <div v-if="menuChoice != -1">
                    <input v-model="menus[menuChoice].price" id="price" type="number" placeholder="Prix du menu"><br />
                    <button type="button" @click="modifyMenu(menuChoice)">Modifier le menu et ouvrir la page de création/modification des produits le composant</button><br />
                    <button type="button" @click="deleteMenu(menuChoice)">Supprimer le menu</button>
                </div>
            </div>
        </form>
        <router-link class="btn btn-info" :to="{ path: '/admin/' }">J'ai fini, retour à la création de lieu</router-link>
    </div>
</template>


<script>
import router from "../../../router";

export default {
  name: "AdminCreateMenuComponent",
  data: () => ({
      price: "",
      menus: [],
      treatedMenus: [],
      menuChoice: -1,
      start: false
  }),
  props: {
      route_id: String,
      changeOrCreate: String
  },
  mounted() {
      this.loadData()
  },
  methods : {
    async loadData() {
        if (this.changeOrCreate == 'change') {
            let allMenus = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/menus")).json())._embedded.menus;
            let menus = [];
            let treatedMenus = [];
            let route_id = this.route_id;
            for (let menu of allMenus) {
                let relatedRestaurantBar = await (await fetch(menu._links.restaurantBar.href)).json();
                let relatedRestaurantBarId = relatedRestaurantBar._links.self.href.split('/')[relatedRestaurantBar._links.self.href.split('/').length-1];
                if (relatedRestaurantBarId == route_id) {
                    menus.push(menu);
                    treatedMenus.push({
                        'value': menu._links.self.href.split('/')[menu._links.self.href.split('/').length-1],
                        'text': menu.price+"€"
                    });
                }
            };
            this.menus = menus;
            this.treatedMenus = treatedMenus;
        }
        this.start = true;
    },
    async createMenu() {
        let menuId = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createMenu", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'create',
                'menuId': -1,
                'restaurantBarId': this.route_id,
                'price': this.price,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        })).json();
        if (menuId != -1) {
            router.push({path: `/admin/createProduit/${this.changeOrCreate}/create/${this.route_id}/${menuId}`});
        }
    },
    async modifyMenu(menuChoice) {
        let menuId = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createMenu", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'change',
                'menuId': this.treatedMenus[menuChoice].value,
                'restaurantBarId': this.route_id,
                'price': this.menus[menuChoice].price,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        })).json();
        console.log(menuId);
        if (menuId != -1) {
            router.push({path: `/admin/createProduit/${this.changeOrCreate}/change/${this.route_id}/${menuId}`});
        }
    },
    async deleteMenu(menuChoice) {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createMenu", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'delete',
                'menuId': this.treatedMenus[menuChoice].value,
                'restaurantBarId': this.route_id,
                'price': this.menus[menuChoice].price,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.menuChoice = -1;
            this.start = false;
            this.loadData();
        });
    }
  },
}
</script>

<style scoped>

</style>