<template>
    <div v-if="this.start">
        <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Prix de parking</h2><br />
        <form>
            <p>Créez autant de prix de parking que nécessaire</p>
            <input v-model="time" id="time" type="number" placeholder="Temps en heure"><br />
            <input v-model="price" id="price" type="number" placeholder="Prix en €"><br />
            <button type="button" @click="createParkingPrice()">Créer le prix de parking</button>
            <div v-if="changeOrCreate == 'change'">
                <p>Choisissez le prix à modifier et modifiez le. Pour valider vos modifications cliquez sur le bouton "Modifier le prix de parking"</p>
                <label for="parkingPriceChoice">Choisissez le prix de parking à modifier</label><br />
                <select name="parkingPriceChoice" id="parkingPriceChoice" v-model="parkingPriceChoice">
                    <option value="-1" selected>--Choisissez un prix de parking à modifier--</option>
                    <option v-for="(treatedParkingPrice,treatedParkingPriceIndex) in this.treatedParkingPrices" 
                        :value="treatedParkingPriceIndex" 
                        :key="treatedParkingPrice.value">
                    {{treatedParkingPrice.text}}</option>
                </select><br />
                <div v-if="parkingPriceChoice != -1">
                    <input v-model="parkingPrices[parkingPriceChoice].time" id="time" type="number" placeholder="Temps en heure"><br />
                    <input v-model="parkingPrices[parkingPriceChoice].price" id="price" type="number" placeholder="Prix en €"><br />
                    <button type="button" @click="modifyParkingPrice(parkingPriceChoice)">Modifier le prix de parking</button><br />
                    <button type="button" @click="deleteParkingPrice(parkingPriceChoice)">Supprimer le prix de parking</button>
                </div>
            </div>
        </form>
        <router-link class="btn btn-info" :to="{ path: '/admin/' }">J'ai fini, retour à la création de lieu</router-link>
    </div>
</template>


<script>
export default {
  name: "AdminCreateParkingPriceComponent",
  data: () => ({
      time: 0,
      price: 0,
      parkingPrices: [],
      treatedParkingPrices: [],
      parkingPriceChoice: -1,
      start: false
  }),
  props: {
      route_id: String,
      changeOrCreate: String
  },
  mounted() {
      this.loadData();
  },
  methods : {
    async loadData() {
        if (this.changeOrCreate == 'change') {
            let allParkingPrices = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/parkingPrices")).json())._embedded.parkingPrices;
            let parkingPrices = [];
            let treatedParkingPrices = [];
            let route_id = this.route_id;
            for (let parkingPrice of allParkingPrices) {
                let relatedParking = await (await fetch(parkingPrice._links.parking.href)).json();
                let relatedParkingId = relatedParking._links.self.href.split('/')[relatedParking._links.self.href.split('/').length-1];
                if (relatedParkingId == route_id) {
                    parkingPrices.push(parkingPrice);
                    treatedParkingPrices.push({
                        'value': parkingPrice._links.self.href.split('/')[parkingPrice._links.self.href.split('/').length-1],
                        'text': parkingPrice.time+"h = "+parkingPrice.price+"€"
                    });
                }
            };
            this.parkingPrices = parkingPrices;
            this.treatedParkingPrices = treatedParkingPrices;
        }
        this.start = true;
    },
    async createParkingPrice() {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createParkingPrice", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'create',
                'parkingPriceId': -1,
                'parkingId': this.route_id, 
                'time': this.time, 
                'price': this.price}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.time = 0;
            this.price = 0;
            this.start = false;
            this.loadData();
        });
    },
    async modifyParkingPrice(parkingPriceChoice) {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createParkingPrice", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'change',
                'parkingPriceId': this.treatedParkingPrices[parkingPriceChoice].value,
                'parkingId': this.route_id,
                'time': this.parkingPrices[parkingPriceChoice].time,
                'price': this.parkingPrices[parkingPriceChoice].price}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.parkingPriceChoice = -1;
            this.start = false;
            this.loadData();
        });
    },
    async deleteParkingPrice(parkingPriceChoice) {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createParkingPrice", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'delete',
                'parkingPriceId': this.treatedParkingPrices[parkingPriceChoice].value,
                'parkingId': this.route_id,
                'time': this.parkingPrices[parkingPriceChoice].time,
                'price': this.parkingPrices[parkingPriceChoice].price}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.parkingPriceChoice = -1;
            this.start = false;
            this.loadData();
        });
    }
  },
}
</script>

<style scoped>

</style>