<template>
    <div v-if="this.start">
        <h2><span v-if="changeOrCreate == 'create'">Création</span><span v-if="changeOrCreate == 'change'">Modification</span> de Film de cinéma</h2><br />
        <form>
            <p>Créez autant de films de cinéma que nécessaire</p>
            <input v-model="title" id="title" type="text" placeholder="Titre du film"><br />
            <input v-model="type" id="type" type="text" placeholder="Type du film (SF, etc ...)"><br />
            <input v-model="price" id="price" type="number" placeholder="Prix du ticket"><br />
            Date de diffusion : <input v-model="date" id="date" type="datetime-local"><br />
            <input v-model="duration" id="duration" type="number" placeholder="Durée en heure"><br />
            <input v-model="numSalle" id="numSalle" type="number" placeholder="Salle de diffusion"><br />
            <button type="button" @click="createFilm()">Créer le film de cinéma</button>
            <div v-if="changeOrCreate == 'change'">
                <p>Choisissez le film à modifier et modifiez le. Pour valider vos modifications cliquez sur le bouton "Modifier le film de cinéma"</p>
                <label for="filmChoice">Choisissez le film de cinéma à modifier</label><br />
                <select name="filmChoice" id="filmChoice" v-model="filmChoice">
                    <option value="-1" selected>--Choisissez un film de cinéma à modifier--</option>
                    <option v-for="(treatedFilm,treatedFilmIndex) in this.treatedFilms" 
                        :value="treatedFilmIndex" 
                        :key="treatedFilm.value">
                    {{treatedFilm.text}}</option>
                </select><br />
                <div v-if="filmChoice != -1">
                    <input v-model="films[filmChoice].title" id="title" type="text" placeholder="Titre du film"><br />
                    <input v-model="films[filmChoice].type" id="type" type="text" placeholder="Type du film (SF, etc ...)"><br />
                    <input v-model="films[filmChoice].price" id="price" type="number" placeholder="Prix du ticket"><br />
                    Date de diffusion : <input v-model="films[filmChoice].schedule" id="date" type="datetime-local"><br />
                    <input v-model="films[filmChoice].time" id="duration" type="number" placeholder="Durée en heure"><br />
                    <input v-model="films[filmChoice].numRoom" id="numSalle" type="number" placeholder="Salle de diffusion"><br />
                    <button type="button" @click="modifyFilm(filmChoice)">Modifier le film de cinéma</button><br />
                    <button type="button" @click="deleteFilm(filmChoice)">Supprimer le film de cinéma</button>
                </div>
            </div>
        </form>
        <router-link class="btn btn-info" :to="{ path: '/admin/' }">J'ai fini, retour à la création de lieu</router-link>
    </div>
</template>


<script>
export default {
  name: "AdminCreateFilmComponent",
  data: () => ({
      title: "",
      type: "",
      price: "",
      date: "",
      duration: "",
      numSalle: "",
      films: [],
      treatedFilms: [],
      filmChoice: -1,
      start: false
  }),
  props: {
      route_id: String,
      changeOrCreate: String
  },
  mounted() {
    this.loadData()
  },
  methods : {
    async loadData() {
        if (this.changeOrCreate == 'change') {
            let allFilms = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/films")).json())._embedded.films;
            let films = [];
            let treatedFilms = [];
            let route_id = this.route_id;
            for (let film of allFilms) {
                let relatedCinema = await (await fetch(film._links.cinema.href)).json();
                let relatedCinemaId = relatedCinema._links.self.href.split('/')[relatedCinema._links.self.href.split('/').length-1];
                if (relatedCinemaId == route_id) {
                    film.schedule = film.schedule.substring(0,16);
                    films.push(film);
                    console.log(film);
                    treatedFilms.push({
                        'value': film._links.self.href.split('/')[film._links.self.href.split('/').length-1],
                        'text': film.title+", "+film.type+", "+film.schedule
                    });
                }
            };
            this.films = films;
            this.treatedFilms = treatedFilms;
        }
        this.start = true;
    },
    async createFilm() {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createFilm", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'create',
                'filmId': -1,
                'cinemaId': this.route_id,
                'title': this.title,
                'type': this.type,
                'price': this.price,
                'date': this.date,
                'duration': this.duration,
                'numSalle': this.numSalle,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.title = "";
            this.type = "";
            this.price = "";
            this.date = "";
            this.duration = "";
            this.numSalle = "";
            this.start = false;
            this.loadData();
        });
    },
    async modifyFilm(filmChoice) {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createFilm", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'change',
                'filmId': this.treatedFilms[filmChoice].value,
                'cinemaId': this.route_id,
                'title': this.films[filmChoice].title,
                'type': this.films[filmChoice].type,
                'price': this.films[filmChoice].price,
                'date': this.films[filmChoice].schedule,
                'duration': this.films[filmChoice].time,
                'numSalle': this.films[filmChoice].numRoom,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.filmChoice = -1;
            this.start = false;
            this.loadData();
        });
    },
    async deleteFilm(filmChoice) {
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/createFilm", {
            method: 'POST',
            body: JSON.stringify({
                'changeOrCreate': 'delete',
                'filmId': this.treatedFilms[filmChoice].value,
                'cinemaId': this.route_id,
                'title': this.films[filmChoice].title,
                'type': this.films[filmChoice].type,
                'price': this.films[filmChoice].price,
                'date': this.films[filmChoice].schedule,
                'duration': this.films[filmChoice].time,
                'numSalle': this.films[filmChoice].numRoom,}),
            headers: { 'Content-type': 'application/json',
                       'Authorization':'Bearer '+localStorage.getItem('accessToken') },
            mode: 'cors'
        }).then(() => {
            this.filmChoice = -1;
            this.start = false;
            this.loadData();
        });
    }
  },
}
</script>

<style scoped>

</style>