<template>
  <div id="globalNavBar" ref="navBar">
    <div id="sandwich_icon">
      <img id="open_menu_sandwich" src="@/assets/Hamburger_icon.png" alt="" height="150px" width="150px" @click="open_menu_phone()" @touch="open_menu_phone()"/>
      <img id="close_menu_sandwich" src="@/assets/close_menu.png" alt="" height="150px" width="150px" @click="close_menu_phone()" @touch="close_menu_phone()" />
    </div>
    <div id="navBar">
      <ul>
        <li class="btn btn-success navbarLi" @click="close_menu_phone()" @touch="close_menu_phone()" ><router-link class="navbarA" to="/" >Accueil</router-link></li>
        <li class="btn btn-info navbarLi" @click="close_menu_phone()" @touch="close_menu_phone()" v-for="category in this.categories" :key="category.id">
          <router-link class="navbarA" :to="{ path: '/categorie/' + category.id }">
            {{ category.title}}
          </router-link>
        </li>
        <li class="btn btn-warning navbarLi" @click="close_menu_phone()" @touch="close_menu_phone()"><router-link class="navbarA" to="/carte">Carte</router-link></li>
        <li class="btn btn-warning navbarLi" @click="close_menu_phone()" @touch="close_menu_phone()"><router-link class="navbarA" to="/admin">Administration</router-link></li>
        <li v-if="isConnected" class="btn btn-danger navbarLi" @click="close_menu_phone()" @touch="close_menu_phone()"><button type="button" class="btn btn-danger navbarA logout" @click="logout()">Déconnexion</button></li>
        <li v-if="!isConnected" class="btn btn-success navbarLi" @click="close_menu_phone()" @touch="close_menu_phone()"><router-link class="navbarA" to="/signin/no">Connexion</router-link></li>
      </ul>
    </div>
  </div>
</template>

<script>
import router from "../router";

export default {
  name: "NavBar",
  data: () => ({
    categories: [],
    isConnected: "",
    windowWidth: window.innerWidth
  }),
  mounted() {
    if (localStorage.getItem('accessToken')) {
      this.isConnected = true;
    } else {
      this.isConnected = false;
    }
    this.loadData();
    setInterval(() => {
      if (localStorage.getItem('accessToken')) {
        this.isConnected = true;
      } else {
        this.isConnected = false;
      }
    },500);
  },
  updated(){
    window.onresize = () => {
      if (this.windowWidth != window.innerWidth) {
        this.close_menu_phone();
        this.windowWidth = window.innerWidth;
      }
    };
    if (localStorage.getItem('accessToken')) {
      this.isConnected = true;
    } else {
      this.isConnected = false;
    }
  },
  methods : {
    logout() {
      localStorage.removeItem("accessToken");
      localStorage.removeItem("username");
      localStorage.removeItem("roles");
      localStorage.removeItem("tokenType");
      this.isConnected = false;
      router.push("/");
    },
    async loadData() {
      let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue";
      let req = await fetch(url);
      let json = await req.json();

      // Les categories
      json.allCategories.forEach(categorie => {
        this.categories.push(categorie);
      });
    },

    open_menu_phone() {
      console.log("here");
      document.getElementById("navBar").style.backgroundColor = "rgba(28,28,28,1)";
      document.getElementById("navBar").style.width = "100%";

      if (document.getElementById("open_filter_menu") != undefined) {
        document.getElementById("open_filter_menu").style.display = "none";
      }
      document.getElementById("open_menu_sandwich").style.display = "none";

      let navbarLis = document.getElementsByClassName("navbarLi");
      for (let i = 0; i < navbarLis.length; i++) {
        navbarLis[i].style.display = "flex";
      }
      let navbarAs = document.getElementsByClassName("navbarA");
      for (let i = 0; i < navbarAs.length; i++) {
        navbarAs[i].style.display = "flex";
      }

      document.getElementById("close_menu_sandwich").style.display = "initial";
    },


    close_menu_phone() {
      document.getElementById("navBar").style.backgroundColor = "rgba(0,0,0,0)";
      if (window.matchMedia("(max-width: 1080px)").matches) {
        document.getElementById("navBar").style.width = "0";
        document.getElementById("close_menu_sandwich").style.display = "none";
        if (document.getElementById("open_filter_menu") != undefined) {
            document.getElementById("open_filter_menu").style.display = "initial";
          }
        document.getElementById("open_menu_sandwich").style.display = "initial";
        let navbarLis = document.getElementsByClassName("navbarLi");
        for (let i = 0; i < navbarLis.length; i++) {
          navbarLis[i].style.display = "none";
        }
        let navbarAs = document.getElementsByClassName("navbarA");
        for (let i = 0; i < navbarAs.length; i++) {
          navbarAs[i].style.display = "none";
        }
      } else {
        document.getElementById("navBar").style.width = "100%";
        document.getElementById("close_menu_sandwich").style.display = "none";
        document.getElementById("open_menu_sandwich").style.display = "none";
        let navbarLis = document.getElementsByClassName("navbarLi");
        for (let i = 0; i < navbarLis.length; i++) {
          navbarLis[i].style.display = "flex";
        }
        let navbarAs = document.getElementsByClassName("navbarA");
        for (let i = 0; i < navbarAs.length; i++) {
          navbarAs[i].style.display = "flex";
        }
      }
    },
  }
}
</script>

<style scoped>
@media screen and (min-width: 1081px) {
  #navBar {
    height: 20%;
    border-bottom: 3px black solid;
  }

  #navBar ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 10px;
    height: 100%;
  }

  #open_menu_sandwich {
    display: none;
  }

  #close_menu_sandwich {
    display: none;
  }

  #navBar li {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  #navBar a {
    display: flex;
    font-size: x-large;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  #navBar a.router-link-active {
    display: flex;
    font-size: x-large;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .logout {
    color: black;
    font-size: x-large;
    font-weight: bold;
  }

  .logout:hover {
    color: black;
    font-size: x-large;
    font-weight: bold;
  }
}

@media screen and (max-width: 1080px) {
  #navBar {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 0;
    width: 100%;
    height: 120%;
    margin-left: 0%;
    z-index: 1;
  }

  #navBar ul {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }

  #sandwich_icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    z-index: 100;
  }

  #open_menu_sandwich {
    position: fixed;
    transition-duration: 0.4s;
    right: 0;
    width: 25%;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgba(119, 119, 119, 0.5);
  }

  #open_menu_sandwich:hover {
    cursor: pointer;
  }

  #close_menu_sandwich {
    display: none;
    transition-duration: 0.4s;
    width: 100%;
    height: auto;
    border: 3px black solid;
    border-radius: 10px;
    background-color: rgba(119, 119, 119, 0.5);
  }

  #close_menu_sandwich:hover {
    cursor: pointer;
  }

  #navBar li {
    display: none;
    margin: 5px 0;
    width: 90%;
    padding: 10px;
  }

  #navBar a {
    display: none;
    font-size: medium;
    text-decoration: none;
    text-align: center;
    align-items: stretch;
    color: black;
    width: 100%;
  }
}

</style>