<template>
  <div>
      <h2>Page d'administration</h2>
      <router-link class="btn btn-success" to="/admin/chooseCategory">Créer un lieu</router-link>
      <ul>
          <li v-for="category in categoriesWithPlaces" :key="category.id">
              <h3>{{category[0].category.title}}</h3>
              <ul>
                <li v-for="place in category" :key="place.id">
                    <span>{{place.name}} <button type="button" @click="modifyPlace(place.id)" class="btn btn-info">Modifier</button> <button class="btn btn-danger" v-bind:id="place.id" v-on:click="deletePlace(place)">Supprimer</button></span>
                </li>
              </ul>
          </li>
          
      </ul>
  </div>
</template>

<script>
import $ from 'jquery'
import '@/js/bootstrap.bundle.min.js'
import '@/css/bootstrap.min.css'
import router from '../../router'

export default {
  name: "AdminComponent",
  data() {
    return {
        categoriesWithPlaces: []
    }
  },
  methods: {
    async loadData() {
        let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue/admin";
        let req = await fetch(url,{
            method: 'GET',
            headers: {'Authorization':'Bearer '+localStorage.getItem('accessToken')}
        });
        if (req.status != 200) {
            if (localStorage.getItem("roles") && !localStorage.getItem("roles").includes("ROLE_ADMIN")) {
                router.push("/unAuthorizedPage");
            } else {
                router.push("/signin/no");
            }
        } else {
            let json = await req.json();

            this.categoriesWithPlaces = json.categoriesWithPlaces;
        }
    },
    deletePlace: async function(place) {
        /*
        Avant de supprimer un lieu :
        - Si parking :
            - Supprimer prix associés
        - Si Restaurant :
            - Supprimer menu associés (par conséquent produit associés au menu)
        - Si Cinéma :
            - Supprimer film associés
        - Dans tous les cas :
            - Supprimer avis associés
            - Délié éventuel parking associé
        */
        if (place.category.title == "Parkings") {
            let parkingPrices = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/parkingPrices")).json())._embedded.parkingPrices;
            for (let i in parkingPrices) {
                let parking = (await (await fetch(parkingPrices[i]._links.parking.href)).json());
                if (parking._links.self.href.split('/')[parking._links.self.href.split('/').length-1] == place.id) {
                    await fetch(parkingPrices[i]._links.self.href, {
                        method: 'DELETE'
                    });
                }
            }
        } else if (place.category.title == "Restaurants / Bars") {
            let menus = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/menus")).json())._embedded.menus;
            for (let i in menus) {
                let restauMenus = (await (await fetch(menus[i]._links.restaurantBar.href)).json());
                if (restauMenus._links.self.href.split('/')[restauMenus._links.self.href.split('/').length-1] == place.id) {
                    let products = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/products")).json())._embedded.products;
                    for (let j in products) {
                        let menuProducts = (await (await fetch(products[j]._links.menu.href)).json());
                        if (menuProducts._links.self.href == menus[i]._links.self.href) {
                            await fetch(products[j]._links.self.href, {
                                method: 'DELETE'
                            });
                        }
                    }
                    await fetch(menus[i]._links.self.href, {
                        method: 'DELETE'
                    });
                }
            }
        } else if (place.category.title == "Cinémas") {
            let films = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/films")).json())._embedded.films;
            for (let i in films) {
                let cineFilms = (await (await fetch(films[i]._links.cinema.href)).json());
                if (cineFilms._links.self.href.split('/')[cineFilms._links.self.href.split('/').length-1] == place.id) {
                    await fetch(films[i]._links.self.href, {
                        method: 'DELETE'
                    });
                }
            }
        }
        let reviews = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/reviews")).json())._embedded.reviews;
        for (let i in reviews) {
            let placeReviews = (await (await fetch(reviews[i]._links.place.href)).json());
            if (placeReviews._links.self.href.split('/')[placeReviews._links.self.href.split('/').length-1] == place.id) {
                await fetch(reviews[i]._links.self.href, {
                    method: 'DELETE'
                });
            }
        }

        let parkings = (await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/parkings")).json())._embedded.parkings;
        for (let i in parkings) {
            await fetch(parkings[i]._links.associatedPlace.href).then(async function (response) {
                if (response.ok) {
                    await response.json().then(async function (associatedPlace) {
                        if (associatedPlace._links.self.href.split('/')[associatedPlace._links.self.href.split('/').length-1] == place.id) {
                            console.log("same");
                            await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/removeAssociatedPlace", {
                                method: 'POST',
                                body: parkings[i]._links.self.href.split('/')[parkings[i]._links.self.href.split('/').length-1],
                                headers: {'Authorization':'Bearer '+localStorage.getItem('accessToken') },
                                mode: 'cors'
                            });
                        }
                    });
                    
                }
            });
            
        }
        
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/places/"+place.id, {
            method: 'DELETE'
        }).then(() => {
            this.loadData();
        });
        
    },
    async modifyPlace(placeId) {
        let place = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/places/"+placeId)).json();
        let category = await (await fetch(place._links.category.href)).json();
        let categoryId = category._links.self.href.split('/')[category._links.self.href.split('/').length-1];
        router.push({path: `/admin/createPlace/change/${categoryId}/${placeId}`});
    }

  },
  mounted() {
    this.loadData();
  },
}
</script>

<style scoped>

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 5px;
}

</style>