<template>
  <div>
      <h2>Choix de la catégorie</h2>
      <ul>
        <li class="btn btn-info navbarLi" v-for="category in this.categories" :key="category.id">
          <router-link class="navbarA" :to="{ path: '/admin/createPlace/create/' + category.id +'/0'}">
            Créer un(e) {{ category.title}}
          </router-link>
        </li>
      </ul>
  </div>
</template>


<script>
export default {
  name: "AdminChooseCategoryComponent",
  data: () => ({
    categories: [],
  }),
  mounted() {
    this.loadData();
  },
  methods : {
    async loadData() {
      let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue";
      let req = await fetch(url);
      let json = await req.json();

      // Les categories
      json.allCategories.forEach(categorie => {
        this.categories.push(categorie);
      });
    },
  },
}
</script>

<style scoped>
ul {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 10px;
  height: 100%;
}

li {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: space-around;
  align-items: stretch;
}

a {
  display: flex;
  font-size: x-large;
  align-items: center;
  text-decoration: none;
  color: black;
}
</style>