<template>
  <div v-if="this.start">
      <CreateArretTransportCommun v-if="categoryName == 'Arrêts transports en commun'" :changeOrCreate="changeOrCreate" :placeId="placeId" />
      <CreateRestaurantBar v-if="categoryName == 'Restaurants / Bars'" :changeOrCreate="changeOrCreate" :placeId="placeId" />
      <CreateCinemas v-if="categoryName == 'Cinémas'" :changeOrCreate="changeOrCreate" :placeId="placeId" />
      <CreateMagasin v-if="categoryName == 'Magasins'" :changeOrCreate="changeOrCreate" :placeId="placeId" />
      <CreatePark v-if="categoryName == 'Parcs'" :changeOrCreate="changeOrCreate" :placeId="placeId" />
      <CreateParking v-if="categoryName == 'Parkings'" :changeOrCreate="changeOrCreate" :placeId="placeId" />
  </div>
</template>


<script>
import CreateArretTransportCommun from '@/components/Admin/PlaceTypeComponents/CreateArretTransportCommun.vue'
import CreateRestaurantBar from '@/components/Admin/PlaceTypeComponents/CreateRestaurantBar.vue'
import CreateCinemas from '@/components/Admin/PlaceTypeComponents/CreateCinemas.vue'
import CreateMagasin from '@/components/Admin/PlaceTypeComponents/CreateMagasin.vue'
import CreatePark from '@/components/Admin/PlaceTypeComponents/CreatePark.vue'
import CreateParking from '@/components/Admin/PlaceTypeComponents/CreateParking.vue'

export default {
  name: "AdminCreatePlaceComponent",
  components: {
      CreateArretTransportCommun,
      CreateRestaurantBar,
      CreateCinemas,
      CreateMagasin,
      CreatePark,
      CreateParking
  },
  data: () => ({
      categoryName: "",
      start: false
  }),
  props: {
    route_id: String,
    changeOrCreate: String,
    placeId: String
  },
  mounted() {
      this.loadData()
  },
  methods : {
      async loadData() {
        let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue";
        let req = await fetch(url);
        let json = await req.json();

        // Les categories
        json.allCategories.forEach(categorie => {
            if (categorie.id == this.route_id) {
                this.categoryName = categorie.title;
            }
        });
        this.start = true;
      }
  },
}
</script>

<style scoped>

</style>