<template>
  <div>
      <h2>Inscription</h2>
      <form>
          <p v-if="this.message != ''">{{this.message}}</p>
          <h3>Pseudo</h3>
          <input v-model="userName" type="text" id="userName" placeholder="Entrez votre pseudo ici">
          <h3>Adresse e-mail</h3>
          <input v-model="email" type="email" id="email" placeholder="Entrez votre adresse e-mail ici">
          <h3>Mot de passe</h3>
          <input v-model="password" type="password" id="passsword" placeholder="Entrez votre mot de passe ici">
          <h3>Répétez le mot de passe</h3>
          <input v-model="confirmedPassword" type="password" id="confirmedPassword" placeholder="Confirmez votre mot de passe ici"><br /><br />
          <button type="button" class="btn btn-success" @click="signup()">S'inscrire</button>
      </form>
  </div>
</template>

<script>
import '@/js/bootstrap.bundle.min.js'
import '@/css/bootstrap.min.css'
import router from '../../router'

export default {
  name: "SignupComponent",
  data() {
    return {
        message: "",
        userName: "",
        email: "",
        password: "",
        confirmedPassword: ""
    }
  },
  methods: {
      async signup() {
          if (this.confirmedPassword == this.password) {
            let response = (await fetch(window.location.href.replace(/:8081[^]*/,":8080")+"/api/auth/signup",{
                method: 'POST',
                body: JSON.stringify({
                    'username': this.userName,
                    'email': this.email,
                    'password': this.password,
                    'role': ['user']
                }),
                headers: { 'Content-type': 'application/json' }
            }));
            if (response.status != 200) {
                this.userName = "";
                this.email = "";
                this.password = "";
                this.confirmedPassword = "";
                this.message = `Inscription impossible.
                    Le pseudo doit être unique.
                    L'adresse e-mail doit être unique.
                    Le pseudo doit comprendre entre 3 et 20 caractères.
                    L'adresse e-mail doit être valide et comprendre moins de 50 caractères.
                    Le mot de passe doit comprendre entre 6 et 40 caractères.`;
            } else {
                this.message = "";
                router.push({path: `/signin/yes`});
            }
          }
      }
  },
}
</script>

<style scoped>

</style>