<template>
  <div>
      <h2>Connexion</h2>
      <form>
          <p v-if="this.message != ''">{{this.message}}</p>
          <h3>Pseudo</h3>
          <input v-model="userName" type="text" id="userName" placeholder="Entrez votre pseudo ici">
          <h3>Mot de passe</h3>
          <input v-model="password" type="password" id="passsword" placeholder="Entrez votre mot de passe ici"><br /><br />
          <button type="button" class="btn btn-success" @click="login()">Se connecter</button><br /><br /><br />
          <button type="button" class="btn btn-info" @click="signup()">Pas de compte ? Inscrivez-vous</button>
      </form>
  </div>
</template>

<script>
import '@/js/bootstrap.bundle.min.js'
import '@/css/bootstrap.min.css'
import router from '../../router'
import Vue from 'vue'

export default {
  name: "SigninComponent",
  data() {
    return {
        message: "",
        userName: "",
        password: ""
    }
  },
  props: {
    postSignup: String,
  },
  methods: {
      signup() {
          router.push("/signup");
      },
      async login() {
          let answer = await (await fetch(window.location.href.replace(/:8081[^]*/,":8080")+"/api/auth/signin",{
              method: 'POST',
              body: JSON.stringify({
                  'username': this.userName,
                  'password': this.password
              }),
              headers: { 'Content-type': 'application/json' }
          })).json();
          if (answer.error) {
              this.userName = "";
              this.password = "";
              this.message = "Pseudo ou mot de passe incorrect";
          } else {
              this.message = "";
              localStorage.setItem("accessToken", answer.accessToken);
              localStorage.setItem("tokenType", answer.tokenType);
              localStorage.setItem("roles", answer.roles);
              localStorage.setItem("username", answer.username);
              if (this.postSignup == "yes") {
                  router.go(-3);
              } else {
                  router.back();
              }
          }

      }
  },
}
</script>

<style scoped>

</style>