<template>
  <div id="unauthorized">
      <h2>Vous n'êtes pas autorisé à accéder à cette page</h2>
  </div>
</template>

<script>
import '@/js/bootstrap.bundle.min.js'
import '@/css/bootstrap.min.css'
import router from '../../router'

export default {
  name: "SignupComponent",
}
</script>

<style scoped>

@media screen and (max-width:1080px) {
  #unauthorized {
    height: 100vh;
    color:white;
  }
}
@media screen and (min-width:1081px) {
  #unauthorized {
    height: 80vh;
    color:white;
  }
}

</style>