<template>
  <div v-if="this.start">
    <div id="card">
        <div id="img">
            <img style="width: 100%" src="http://placekitten.com/g/250/250" alt="maow" />
        </div>
            <div id="infos">
                <h2>{{ place.place[0].name }}</h2>
                <img id="mobile-img" src="http://placekitten.com/g/250/250" alt="maow" />
                <div class="general">
                    <h3 class="title">🏆 Informations générales</h3>
                    <ul>
                        <li><span class="info-name">🏳 Adresse</span> : {{ place.place[0].address }}</li>
                        <li><span class="info-name">☎ Numéro de téléphone</span> : {{ place.place[0].numTel }}</li>
                        <li><span class="info-name">🕥 Horaires</span> : {{ place.place[0].openingHours }}</li>
                        <li><span class="info-name">Note</span> : {{ place.place[0].notation }} ★</li>
                    </ul>
                </div>
                <div v-if="place.place[0].category.title == 'Restaurants / Bars'">
                    <h3 class="title">🏆 Informations Restaurants/bar</h3>
                    <ul>
                        <li><span class="info-name"><h3 class="pre_section">🙍‍♂️ Capacité 🙍‍♀️</h3></span>{{ place.place[0].capacity }} personne(s).</li>
                        <li><span class="info-name"><h3 class="pre_section">🍔 Menus 🍔</h3></span></li>
                        <ul class="menus" v-for="menu in this.place.menus" :key="menu.id"><strong>- Menu</strong> "{{ menu.menu.price }}"
                           <ul>
                               <li v-for ="product in menu.products" :key="product.id">
                                <span class="product">- {{ product.name + ' | ' + product.price + '€' }}</span>
                               </li>
                           </ul>
                        </ul>
                     </ul>
                </div>
                <div v-if="place.place[0].category.title == 'Cinémas'">
                    <h3 class="title">🏆 Informations Cinéma</h3>
                    <ul>
                        <li><span class="info-name"><h3 class="pre_section">🎥 Nombre de salles 🎥</h3></span> {{ place.place[0].nbRooms }}</li>
                        <li><span class="info-name"><h3 class="pre_section">🎬 Films à l'affiche 🎬</h3></span></li>
                         <ul class="menus" v-for="film in this.place.films" :key="film.id">
                             <li id="film">{{ film.title }}</li>
                             <ul>
                                 <li>Type : {{ film.type }}</li>
                                 <li>Price : {{ film.price }}</li>
                                 <li>Horaire : {{ film.schedule }}</li>
                                 <li>Durée : {{ film.time }}</li>
                                 <li>Numéro de salle : {{ film.numRoom }}</li>
                             </ul>
                         </ul>
                    </ul>
                </div>
                <div v-if="place.place[0].category.title == 'Parkings'">
                    <h3 class="title">🏆 Informations parking</h3>
                    <ul>
                        <li><span class="info-name"><h3 class="pre_section">Capacité</h3></span>{{ place.place[0].capacity }} places</li>
                        <li ><span class="info-name"><h3 class="pre_section">Tarif</h3></span>
                            <ul>
                                <li id="price" class="menus" v-for="price in this.place.price" :key="price.id">
                                    <span>🕥 Durée : {{ price.time }}h</span>
                                    <span>💲 {{ price.price }} €</span></li>
                            </ul>
                        </li>
                        <li class="menus" v-if="place.place[0].associatedPlace"><span class="info-name"><h3 class="pre_section">Lieu associé</h3></span>
                            <ul>
                                <li>Nom : {{ place.place[0].associatedPlace.name }}</li>
                                <li><i class="fas fa-map-marker-alt"></i>🏳 Adresse : {{ place.place[0].associatedPlace.address }}</li>
                                <li><i class="fas fa-phone"></i>☎ Numéro de téléphone : {{ place.place[0].associatedPlace.numTel }}</li>
                                <li><i class="far fa-clock"></i>🕥 Horaires : {{ place.place[0].associatedPlace.openingHours }}</li>
                                <li><i class="fas fa-star"></i> Note : {{ place.place[0].associatedPlace.notation }} ★</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div v-if="place.place[0].category.title == 'Arrêts transports en commun'">
                    <h3 class="title">🏆 Informations de Arrêt transports en commun</h3>
                    <ul>
                        <li><h3 class="pre_section">Ligne(s)</h3>{{ place.place[0].lines }}</li>
                    </ul>             
                </div>
                <div v-if="place.place[0].category.title == 'Magasins'">
                    <h3 class="title">🏆 Informations Magasin</h3>
                    <ul>
                        <li><h3 class="pre_section">Type</h3>{{ place.place[0].type }}</li>
                    </ul>             
                </div>  
                <div id="reviews"> 
                    <div id="header">
                    <h3 id="review_title">🔖 Avis</h3>
                    <button id="add_review" class="btn btn-primary" @click="displayFormReview()">Ajouter un avis</button>
                    </div>
                    <div id="review" >
                        <div style="margin-top: 2%" v-for="r in this.place.review" :key="r.id">
                            <span class="info-name">{{ r.pseudo }} ({{ r.grade }} ★) : </span>
                            <span>"{{ r.comment }}"</span>
                            <button v-if="isAdmin == true" style="float: right" class="btn btn-danger" @click="deleteReview(r)">Supprimer avis</button>
                        </div>
                        <form id="review_form">
                            Pseudo : <input v-model="pseudo" type="text" placeholder="Pseudo"> <br>
                            Note : <input v-model="grade" style= "margin-top : 2%" type="range" min="0" max="5" step="0.10"> {{grade}}★<br>
                            <textarea v-model="comment" style="width : 80%; margin-top : 2%" placeholder="Ajouter un commentaire..."></textarea>
                            <input style="margin-left : 2%" type="button" @click="addReview()" class="btn btn-primary" value="Valider">
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
  name: "PlaceComponent",
  data() {
      return {
        place: [],
        id : null,
        start: false,
        grade : null,
        pseudo : "",
        comment: "",
        isAdmin : false
      }
  },
  props: {
    route_id: String,
  },
  mounted() {
    this.loadData();
    this.checkAdmin();
  },
  methods : {
    async loadData() {
        let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue/lieu/" + this.route_id;
        let req = await fetch(url);
        let json = await req.json();

        
        
        this.place = json;
        this.id = this.place.place[0].id
        this.start = true;
    },
    displayFormReview() {
        document.getElementById("review_form").style.display = "block";
    },
    async addReview(){
        await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/vue/addReview", { method: 'POST',
        body: JSON.stringify({
          'placeId': this.place.place[0].id,
          'pseudo': this.pseudo,
          'comment': this.comment,
          'grade': this.grade}),
        headers: { 'Content-type': 'application/json' }
      });
        document.getElementById("review_form").reset();
        this.grade = null;
        this.pseudo = ""
        this.comment = ""
        this.loadData();
        document.getElementById("review_form").style.display = "none";
        

    },

    async deleteReview(review){
        if (this.isAdmin){
                await fetch(window.location.href.replace(/:8081[^]*/,":8080") + "/api/reviews/"+review.id, {
                method: 'DELETE'
            }).then(() => {
                this.loadData();
            });
        }else{
            alert("Vous devez être admin");
        }
        
    },

    async checkAdmin(){
        let url = window.location.href.replace(/:8081[^]*/,":8080") + "/vue/admin";
        let req = await fetch(url,{
            method: 'GET',
            headers: {'Authorization':'Bearer '+localStorage.getItem('accessToken')}
        });
        if (req.status == 200) {
            this.isAdmin = true;
        }
    }
  }
}
</script>

<style scoped>
#card {
    margin: 20px;
    margin-top: 40px;
    display: flex;
    border: 2px solid black;
    color: white;
}

#img {
    border-right: 2px solid black;
    width: 40%;
    padding: 10px;
    flex: none;
}

ul{
    list-style-type: none;
}

li{
    margin-bottom: 3%;
}

.menus{
    width: 50%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    margin: auto;
    left: auto;
    text-align: left;
}

#infos {
    width: 100%;
}

div:nth-child(4){
    margin-bottom: 2%;
    border-bottom: 1px solid black;
}

#infos h2{
    text-align: center;
    font-size: xxx-large;
    padding: 30px;
    border-bottom: 1px solid black;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.info-name {
    font-weight: bold;
    font-size: large;
}

.pre_section{
    border-bottom: 1px solid black;
    width: 40%;
    margin: auto;
    left: auto;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

.title {
    position: relative;
    padding-bottom: 2%;
    padding-top: 2%;
    left: 5%;
    width: 90%;
    border-bottom: 1px solid black;
    font-size: xx-large;
    text-align: left;
}

#review_title {
    position: relative;
    padding-bottom: 2%;
    left: 5%;
    font-size: xx-large;
    text-align: left;
}

#header{
        border-bottom: 1px solid black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
}

#add_review {
    position: relative;
    right: 5%;
}

#review_form{
    margin-top: 2%;
    display: none;
}
.general {
    border-bottom: 1px solid black;
    text-align: center;
}

#price {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

#film {
    text-decoration: underline;
}

#reviews {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#review {
 margin: 20px;   
 width: 100%;
}

#mobile-img {
    display: none;
}

@media screen and (max-width: 1400px){

    #price{
        width: 30%;
    }

}

@media screen and (max-width: 1080px){
    #mobile-img {
        display: block;
    }

    #img {
        display: none;
    }

    #price {
        width: 40%;
    }
}

@media screen and (max-width: 500px){

    #price{
        width: 80%;
    }

}

</style>