<template>
  <div id="administration">
    <AdminCreateMenuComponent :route_id="$route.params.restaurantBarId" :changeOrCreate="$route.params.changeOrCreate" />
  </div>
</template>


<script>
import AdminCreateMenuComponent from '@/components/Admin/OtherObjectsToCreate/AdminCreateMenuComponent.vue'

export default {
  name: "AdminCreateMenu",
  components: {
    AdminCreateMenuComponent
  }
}
</script>

<style scoped>

</style>