<template>
  <div id="administration">
    <AdminCreateProduitComponent 
      :restaurantBarId="$route.params.restaurantBarId" 
      :route_id="$route.params.menuId" 
      :changeOrCreate="$route.params.changeOrCreate"
      :changeOrCreateMenu="$route.params.changeOrCreateMenu" />
  </div>
</template>


<script>
import AdminCreateProduitComponent from '@/components/Admin/OtherObjectsToCreate/AdminCreateProduitComponent.vue'

export default {
  name: "AdminCreateProduit",
  components: {
    AdminCreateProduitComponent
  }
}
</script>

<style scoped>

</style>