<template>
  <div id="administration">
    <AdminCreateFilmComponent :route_id="$route.params.cinemaId" :changeOrCreate="$route.params.changeOrCreate" />
  </div>
</template>


<script>
import AdminCreateFilmComponent from '@/components/Admin/OtherObjectsToCreate/AdminCreateFilmComponent.vue'

export default {
  name: "AdminCreateFilm",
  components: {
    AdminCreateFilmComponent
  }
}
</script>

<style scoped>

</style>