<template>
  <div id="administration">
    <AdminCreatePlaceComponent :route_id="$route.params.id" :changeOrCreate="$route.params.changeOrCreate" :placeId="$route.params.placeId" />
  </div>
</template>


<script>
import AdminCreatePlaceComponent from '@/components/Admin/AdminCreatePlaceComponent.vue'

export default {
  name: "AdminCreatePlace",
  components: {
    AdminCreatePlaceComponent
  }
}
</script>

<style scoped>

</style>