<template>
  <div>
    <div id="administration">
      <AdminComponent />
    </div>
    <div id="unauthorized">
      <UnauthorizedPage />
    </div>
  </div>
</template>


<script>
import AdminComponent from '@/components/Admin/AdminComponent.vue'
import UnauthorizedPage from './UnauthorizedPage.vue'

export default {
  name: "Admin",
  components: {
    AdminComponent,
    UnauthorizedPage
}
}
</script>

<style scoped>

#administration {
  color: white;
}

@media screen and (min-width: 1081px) {
  #administration {
    display: initial;
  }
  #unauthorized {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  #administration {
    display: none;
  }
  #unauthorized {
    display: initial;
  }
}

</style>