<template>
  <div id="administration">
    <AdminCreateParkingPriceComponent :route_id="$route.params.parkingId" :changeOrCreate="$route.params.changeOrCreate" />
  </div>
</template>


<script>
import AdminCreateParkingPriceComponent from '@/components/Admin/OtherObjectsToCreate/AdminCreateParkingPriceComponent.vue'

export default {
  name: "AdminCreateParkingPrice",
  components: {
    AdminCreateParkingPriceComponent
  }
}
</script>

<style scoped>

</style>