<template>
  <div id="administration">
    <AdminChooseCategoryComponent />
  </div>
</template>


<script>
import AdminChooseCategoryComponent from '@/components/Admin/AdminChooseCategoryComponent.vue'

export default {
  name: "Admin",
  components: {
    AdminChooseCategoryComponent
  }
}
</script>

<style scoped>

</style>