<template>
  <div id="category">
    <CategoryComponent :route_id="$route.params.id" />
  </div>
</template>


<script>
import CategoryComponent from '@/components/Category/CategoryComponent.vue'

export default {
  name: "Category",
  components: {
    CategoryComponent
  }
}
</script>

<style scoped>

@media screen and (min-width:1081px) {
  #category {
    height: 80vh;
  }
}

</style>