<template>
  <div id="home">
    <div div="weatherComponent">
      <h2 class="titlePageCategories">
        Bandeau Météo
      </h2>
      <WeatherComponent />
    </div>
    <div id="carouselComponent">
      <h2 class="titlePageCategories">
        Caroussel découverte
      </h2>
      <CarouselComponent />
    </div>
    <div id="topCategoriesComponent">
      <h2 class="titlePageCategories">
        Le Top des Catégories
      </h2>
      <TopCategoriesComponent />
    </div>
  </div>
</template>

<script>
import WeatherComponent from '@/components/Home/WeatherComponent.vue'
import CarouselComponent from '@/components/Home/CarouselComponent.vue'
import TopCategoriesComponent from '@/components/Home/TopCategoriesComponent.vue'

export default {
  name: "Home",
  components: {
    WeatherComponent,
    CarouselComponent,
    TopCategoriesComponent
  }
}
</script>

<style scoped>

  .titlePageCategories {
    border: 2px solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 901px){
    .titlePageCategories{
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

#home {
  color: white;
}

</style>