<template>
  <div id="mapPage">
    <div id="mapComponent">
      <MapComponent/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import MapComponent from '@/components/Map/MapComponent.vue'

export default {
  name: 'MapPage',
  components: {
    MapComponent
  }
}
</script>

<style scoped>

</style>