<template>
  <div id="place">
    <PlaceComponent :route_id="$route.params.id" />
  </div>
</template>

<script>
// @ is an alias to /src
import PlaceComponent from '@/components/Place/PlaceComponent.vue'

export default {
  name: 'Place',
  components: {
    PlaceComponent
  },
}
</script>

<style scoped>

</style>