<template>
  <div id="signup">
    <SignupComponent />
  </div>
</template>


<script>
import SignupComponent from '../components/Admin/SignupComponent.vue'

export default {
  name: "Signup",
  components: {
    SignupComponent
}
}
</script>

<style scoped>

#signup {
  height: 80vh;
  color: white;
}

</style>