<template>
  <div id="signin">
    <SigninComponent :postSignup="$route.params.postSignup" />
  </div>
</template>


<script>
import SigninComponent from '../components/Admin/SigninComponent.vue'

export default {
  name: "Signin",
  components: {
    SigninComponent
  }
}
</script>

<style scoped>

#signin {
  height: 80vh;
  color: white;
}

</style>