<template>
  <div id="unauthorized">
    <UnauthorizedPage />
  </div>
</template>


<script>
import UnauthorizedPage from '../components/Admin/UnauthorizedPage.vue'

export default {
  name: "Unauthorized",
  components: {
    UnauthorizedPage
  }
}
</script>

<style scoped>

</style>